<main class='home-container'>
 <div class='homepage'>
<div class='header-body'>
 <h3 style='margin-top: -45px; margin-bottom:15px;'>Have A Vote!</h3>
 <form method='get' action='/sessions' class='search-button'>
  <input type='text' class='form-control' placeholder='Enter Code' name='hash' style='margin-right:3px;'>
  <button type='submit' class='btn btn-primary btn-lg search-button' name="search_type" value='name' style='width:100px; border-radius: 10px;'><i class='fa fa-search'></i></button>
 </form>
</div>
</div>
<canvas id="canvas"></canvas>
</main>
