<div>
    <form action="/sessions" method="POST">
        <div>
            <label for="creator">Creator</label>
            <input type="text" name="creator">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <button type="submit" class="btn submit-button btn-primary">Create Session</button>
        </div>
    </form>
</div>
