<div>

  <form action='/users' method='post'>

    <input type="text" name="name" placeholder="Your Name"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="username" placeholder="username"/>
    <input type="email" name="email" placeholder="email"/>

    <input type= "submit" value="Submit"/>
  </form>

</div>
